$token-width: 100px;
$token-mb: 10px;
$token-mr: 10px;
$token-border-width: 5px;

$bank-tokens-pt: 30px;
$bank-tokens-pb: 15px;

$wallet-bg: #11354F;
$wallet-border-radius: 0.5rem;
$wallet-border: 1px solid black;
